<h5>SGS Properties</h5>

<table class="table table-striped">
  <thead>
    <tr center>
      <th scope="col">#</th>
      <th scope="col">Property No.</th>
      <th scope="col">Property Name</th>
      <th scope="col">Property Descrption</th>
      <th scope="col">Propert Seiral</th>
      <th scope="col">Property Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1.</th>
      <td>12345</td>
      <td>LabTop</td>
      <td>HB labtop z400</td>
      <td>A12S324F</td>
      <td>HP</td>
    </tr>
    <tr>
      <th scope="row">2.</th>
      <td>12345</td>
      <td>LabTop</td>
      <td>HB labtop z400</td>
      <td>A12S324F</td>
      <td>HP</td>
    </tr>
    <tr>
      <th scope="row">3.</th>
      <td>730241</td>
      <td>Flash Memory</td>
      <td>Sony Flash Memory 128G</td>
      <td>B02S324F</td>
      <td>Sony</td>
    </tr>
    <tr>
      <th scope="row">4.</th>
      <td>62301</td>
      <td>Desk Top</td>
      <td>Asus Desk Top</td>
      <td>C02S324F</td>
      <td>Asus</td>
    </tr>
    <tr>
      <th scope="row">5.</th>
      <td>82346</td>
      <td>Monitor</td>
      <td>hp Monitor 24</td>
      <td>D92S324F</td>
      <td>Dell</td>
    </tr>
    <tr>
      <th scope="row">6.</th>
      <td>64253</td>
      <td>Sisco</td>
      <td>Telpone</td>
      <td>R42S324F</td>
      <td>Samsung</td>
    </tr>
  </tbody>
</table>
