<p>property-info works!</p>

<div class="row">
  <div class="col-md-4">
    <label for="PartNo" class="col-form-label">Part No</label>

    <input type="text" class="form-control" id="PartNo" />
  </div>
  <br />
  <div class="col-md-4">
    <div class="input-group">
      <label for="PartNo" class="col-form-label">Part No</label>
      <input type="text" class="form-control" id="PartNo" />
    </div>
    <br />
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <label for="PartNo" class="col-form-label">Part No</label>
      <input type="text" class="form-control" id="PartNo" />
    </div>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <label for="PartNo" class="col-form-label">Part No</label>
      <input type="text" class="form-control" id="PartNo" />
    </div>
  </div>
</div>
