<h4
  style="
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: azure;
  "
>
  Property Details
</h4>
<div class="row">
  <div class="col-md-2"><strong>Employee NO</strong></div>
  <div class="col-md-4">823</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Employee Name</strong></div>
  <div class="col-md-4">Nawaf Hamad</div>
  <div class="col-md-2"><strong>Location</strong></div>
  <div class="col-md-4">office 2266</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Company NO</strong></div>
  <div class="col-md-4">24585</div>
  <div class="col-md-2"><strong>Part NO</strong></div>
  <div class="col-md-4">4124521</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Brand</strong></div>
  <div class="col-md-4">Hp</div>
</div>
<br />

<div class="row">
  <div class="col-md-2"><strong>Description</strong></div>
  <div class="col-md-4">Hp laptob Core i7</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Invoice Number</strong></div>
  <div class="col-md-4">E-56458</div>
  <div class="col-md-2"><strong>Invoice Date</strong></div>
  <div class="col-md-4">25/12/2022</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Supplier NO</strong></div>
  <div class="col-md-4">200</div>
  <div class="col-md-2"><strong>Supplier Name</strong></div>
  <div class="col-md-4">HP Company</div>
</div>
<br />
<div class="row">
  <div class="col-md-2"><strong>Purchase Order NO</strong></div>
  <div class="col-md-4">3000</div>
  <div class="col-md-2"><strong>Purchase Order Date</strong></div>
  <div class="col-md-4">12/10/2002</div>
</div>
