<h4>Property Classification</h4>
<form action="/action_page.php">
  <label for="fname">Group NO:</label><br />
  <input type="text" id="Group NO" name="Group NO" /><br /><br />
  <label for="lname">Name:</label><br />
  <input type="text" id="Name" name="Name" /><br /><br />
  <label for="Main Group">Main Group:<br /></label>
  <select id="Main Group" name="Main Group" style="width: 200">
    <option value="volvo">nothing</option>
    <br />
  </select>
  <br /><br />
  <button type="button" class="btn btn-primary btn-lg;">OK</button>
  <button type="button" class="btn btn-secondary btn-lg">Cancel</button>
</form>
