<h4>Property Classification</h4>
<form>
  <label for="GroupNumber">Group NO:</label><br />
  <input type="text" id="GroupNumber" name="GroupNumber" /><br /><br />
  <label for="Name">Name:</label><br />
  <input type="text" id="Name" name="Name" /><br /><br />
  <label for="MainGroup">Main Group:</label><br />
  <select id="MainGroup" name="MainGroup" style="width: 240px; height: 40px">
    <option value="nothing">nothing</option>
    <br />
  </select>
  <br /><br />
  <button
    style="width: 150px; margin-right: 20px"
    type="button"
    class="btn btn-primary"
  >
    <i class="fa-solid fa-floppy-disk"></i>
    OK
  </button>

  <button style="width: 150px" type="button" class="btn btn-primary">
    <i class="fa-solid fa-ban"></i>
    Cancel
  </button>
</form>
