<p>add-new-property works!</p>

<p>Group No.</p>
<select class="form-select" aria-label="Default select example">
  <option value="1">Gelogeval Dievises</option>
  <option value="2">Transfer Stomec</option>
  <option value="3">Electronic Devises</option>
  <option value="4">Oficce Stomec</option>
</select>
<input type="text" id=" value" />

<p>Category No.</p>
<select class="form-select" aria-label="Default select example">
  <option value="1">Information devies</option>
  <option value="2">Offic</option>
  <option value="3">cars</option>
  <option value="4">babg</option>
</select>
<input type="text" id=" value" />

<p>Clase No.</p>
<select class="form-select" aria-label="Default select example">
  <option value="1">copmpuer</option>
  <option value="2">Table</option>
  <option value="3">TelePhone</option>
  <option value="4">Tfaya</option>
</select>
<input type="text" id=" value" />

<p>SGS No.</p>
<input type="text" id=" value" />
