.btn {
  position: relative;
}

/* effect-5 styles */
.effect-5 {
  transition: all 0.2s linear 0s;
}
.effect-5:before {
  content: "ÔÅî";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}
.effect-5:hover {
  text-indent: 30px;
}
.effect-5:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}
